[user]
	name = Thomas Eckert
	email = thomas.james.eckert@gmail.com

[core]
	editor = nvim
	autocrlf = input
	whitespace = trailing-space,space-before-tab
	pager = less -FRX
  safecrlf = true

[init]
	defaultBranch = main

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[pull]
	rebase = true

[fetch]
	prune = true
	pruneTaggs = true

[rebase]
	autoStash = true
	autoSquash = true

[merge]
	conflictStyle = zdiff3
	ff = false

[diff]
	algorithm = histogram
	colorMoved = default

[color]
	ui = auto

[alias]
	# Short aliases
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --

	# Logs
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	last = log -1 HEAD --stat

	# Amend the currently staged files to the latest commit
	amend = commit --amend --no-edit

	# List aliases
	aliases = config --get-regexp alias

	# Show verbose output about branches
	branches = branch -a

	# Show verbose output about tags
	tags = tag -l

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	# Remove branches that have already been merged with main
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# Switch to a branch, creating it if necessary
	go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"

[help]
	autocorrect = 1

[credential]
	helper = cache --timeout=3600
